<!DOCTYPE html>
<html>
<div class="modal-header">
    <h4 class="modal-title">{{title}} </h4>
</div>
<div class="modal-body">
    <h5>Allt började i Tyskland i slutet av sjuttiotalet.</h5>
   <p> Fyra entreprenörer var trötta på att priserna var höga och tillgängligheten på hemelektronik var 
       undermålig. Tillsammans bestämde de sig för att rita om kartan. Konceptet att erbjuda ett brett 
       produktsortiment med snäva marginaler och med fokus på större omsättning tog de först Tyskland och 
       sedan Europa med storm och nu även andra delar av världen. Idag finner du över 750 Media Markt-varuhus
        i 14 länder. 
        Reklamkonceptet har hög igenkänningsfaktor med humor och ärlighet som står i centrum. Hos oss gäller 
        principen: reklamen lovar bara det som butikerna kan hålla till 100% och löftet är att alltid erbjuda 
        det senaste från de bästa märkena till låga priser. </p>
        <img src="/Users/golsanahidpoor/Documents/ang2app copy/images/1111.png">
</div>
<div class="modal-footer">
    
</div>
</html>